@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  color: var(--foreground);
  background: var(--background);
  font-family: Arial, Helvetica, sans-serif;
}

.hide-scrollbar::-webkit-scrollbar {
  display: none;
}

.hide-scrollbar {
  -ms-overflow-style: none;
  scrollbar-width: none;
}

.websitebackground {
  background: radial-gradient(circle at top, transparent 9%, #d3d3d3 10%, #d3d3d3 15%, transparent 16%), radial-gradient(circle at bottom, transparent 19%, #d3d3d3 20%, #d3d3d3 25%, transparent 26%), radial-gradient(circle at right, transparent 19%, #d3d3d3 20%, #d3d3d3 25%, transparent 26%), radial-gradient(circle at left, transparent 9%, #d3d3d3 10%, #d3d3d3 15%, transparent 16%);
  background-size: 4em 4em;
  background-color: #7c7c7c;
  opacity: 1
}