@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  color: var(--foreground);
  background: var(--background);
  font-family: Arial, Helvetica, sans-serif;
}


.hide-scrollbar::-webkit-scrollbar {
  display: none;
}

.hide-scrollbar {
  -ms-overflow-style: none;
  scrollbar-width: none;
}

.websitebackground {
  background: radial-gradient(circle, #767676 25%, transparent 26%), radial-gradient(circle at bottom left, #767676 12%, transparent 13%), radial-gradient(circle at bottom right, #767676 12%, transparent 13%), radial-gradient(circle at top left, #767676 12%, transparent 13%), radial-gradient(circle at top right, #767676 12%, transparent 13%);
  background-size: 6em 6em;
  background-color: #383838;
  opacity: 1
}

/*
  background: linear-gradient(45deg, transparent 10%, #767676 10%, #767676 20%, transparent 20%, transparent 80%, #767676 80%, #767676 90%, transparent 90%), linear-gradient(135deg, transparent 10%, #767676 10%, #767676 20%, transparent 20%, transparent 80%, #767676 80%, #767676 90%, transparent 90%), radial-gradient(circle at top, #767676 20%, transparent 21%), radial-gradient(circle at bottom, #767676 20%, transparent 21%), radial-gradient(circle at right, #767676 20%, transparent 21%), radial-gradient(circle at left, #767676 20%, transparent 21%);
  background-size: 6em 6em;
  background-color: #383838;
  opacity: 1
*/

/* .websitebackground {
background: radial-gradient(circle at top left,transparent 25%,#767676 25.5%, #767676 36%, transparent 37%, transparent 100%),radial-gradient(circle at bottom right,transparent 34%,#767676 34.5%, #767676 45.5%, transparent 46%, transparent 100%);
        background-size: 6em 6em;
        background-color: #383838;
        opacity: 1
} */